{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    {% for univers in value %}
        <li>{{ univers|enum_label(field_description.options.class, field_description.options.catalogue, false) }}</li>
     {% endfor %}
{% endblock %}