.exponent-with-vignette {
    height: 124px;
}

.exponent-without-vignette {
    height: 60px;
    padding-left: 40px;
    position: relative;
}

.exponent-without-vignette .univers {
    float: left;
    position: absolute;
    left: 0px;
}

.exponent .descriptif {
    font-size: 12px;
}

.exponent .location {
    font-size: 12px;
}
