body {
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: $background-color-body;
}

body.tinymce {
        background: $background-body-tinymce;
}

img{
    max-width:100%;
}

.header-content{
    display: inline-block;
    width: 100%;
}

#logo{
    padding : 30px 0 0 50px;
}

#main-content {
    margin-bottom: 30px;
}

/*** Navigation ***/

.navbar-default {
    background-color: $background-color-navbar-default;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: $color-nav;
    font-family: $font-family-nav;
    font-size: 12pt;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.02em;
    padding: 5px 5px 10px 5px;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: $background-color-nav;
    color: $color-nav-li-a-hover;
}
.nav .caret {
    border-top: 7px dashed;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    color: $color-nav-caret;
}
.nav>li {
    white-space: nowrap;
}
#submenu{
    background : $background-submenu;
}
#submenu .nav>li>a{
    color : $color-submenu;
}

/*** Fin Navigation ***/

/*** Main ***/
h1.art-title {
    color: $color-art-title;
    font-family: $font-family-art-title;
    font-size: 18pt;
    margin: 3px 1px 5px 1px;
}
h2.art-title {
    color: $color-art-title;
    font-family: $font-family-art-title;
    font-size: 18pt;
    margin: 1px;
}
.art-link{
    color: $color-art-link;
    font-family: $font-family-art-link;
    font-size: 9pt;
    font-weight: 600;
    line-height: 2pt;
    padding-bottom: 15px;
}

.art-link a{
    color: $color-art-link;
}
.art-link:hover {
    text-decoration: underline;
}

.art-text {
    color: $color-art-text;
}

#diaporama {
   margin-bottom: 18px;

}
#right-col{

}
/*** Fin Main ***/

h3{
    text-transform: uppercase;
    font-weight: bold;
}
/*** Side bar ***/

#mod-follow {
     border-left: 6px solid $border-left-mod-follow-color;
    padding: 0 0 0 0;
}
#mod-follow div.follow-title
{
    float:left;
}
#mod-follow h3 {
    margin: 5px 1px 3px 0;
    text-transform: initial;
    padding: 5px 0 0 20px;
    color: #f30d00;
    font-family: $font-family-mod-follow;
}
#mod-follow div img {
   margin: 3px 0 3px 16px;
}
#mod-follow p {
   margin: 3px 1px 3px 10px;
    font-weight: bold;
}
#mod-partenaires {
    padding: 0 0 0 0;
    overflow: hidden;
    margin-bottom: 20px;
}
#mod-partenaires h3 {
     text-align: center;
    letter-spacing: 0.1em;
    font-size: 13pt;
}
#mod-partenaires img {
    display: block;
    margin-right:auto;
    margin-left:auto;
    border: 1px solid $border-mod-partenaires-color;
}
#mod-credits {
    font-weight: bold;
    font-size: 9pt;
}
#mod-credits img {
    width: 79px;
    height: 90px;
    max-width: none;
}
#mod-credits hr {
    margin: 0 0 0 0;
    border: 0;
    border-top: 3px solid $border-top-mod-credits-color;
}
/*** fin  Side bar ***/

.navbar{
    margin-bottom : 0;
    border : none;

}
.no-ml{
    margin-left : 0;
}
.no-mr{
    margin-right : 0;
}
.no-pl{
    padding-left : 0;
}
.no-pr{
    padding-right : 0;
}
.no-p{
    padding-left : 0;
    padding-right : 0;
}
.container {

   background-color: $background-color-container;
   background-size: 100% auto;
    }


/* PAGE INTERNE */
#sousmenu{
    background : $background-sousmenu;
    margin-left : -15px;
    margin-right : -15px;
}
#sousmenu .nav>li>a{
    color : $color-sousmenu-nav;
    padding: 10px;
}
#sousmenu .nav > li > a{
    color : $color-sousmenu-nav;
    padding: 10px;
}
#sousmenu .nav > li > a:hover,
#sousmenu .nav > li.active > a{
    background : $background-sousmenu;
    color : $color-sousmenu;
}
#menu .nav-justified>li.active a,
#menu .nav-justified>li.active .caret{
    color: $color-menu;
}
@media screen and (min-width: 768px ) {
    #menu.with-submenu .nav-justified>li.active:after{
        content: '';
        width: 0px;
        height: 0px;
        display: inline-block;
        vertical-align: middle;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $submenu-active-marker-color;
        position: absolute;
        right: 45%;
        bottom: 0;
        margin: 0 auto;
    }
}
div.inv-img img{
    width : 100%;
}

.actuality-link:hover {
    text-decoration: none;
}
.actuality-link:focus {
    outline: none;
    text-decoration: none;
}
div.art-detail{
    color: $color-art-detail;
    font-family: $font-family-art-detail;
    font-size: 9pt;
    font-weight: 700;
    padding-bottom: 15px;
    text-transform : uppercase;
}
span.flag{
    float: right;
    width: 40px;
    height: 17px;
    border: 1px solid $border-span-flag-color;
}
h1.page_title{
    text-transform : uppercase;
    font-weight : bold;
    color : #000;
}
@media screen and (min-width: 768px ) {
    .bl-rouge{
        border-left : 4px solid $border-left-bl-rouge-color;
    }
    .br-rouge{
        border-right : 4px solid $border-right-br-rouge-color;
    }
}
.bb-rouge{
    border-bottom : 4px solid $border-bottom-bb-rouge-color;
}
/* PRESSE */
p.txt_style_1{
    font-weight : bold;
}



/* BOUTONS */
.btn-festival {
    border-radius : 0px;
    text-transform : uppercase;
    color: $color-btn-festival;
    font-weight:bold;
    background-color: $background-color-btn-festival;
}
.btn-margin {
    margin: 5px 0;
}
.btn-festival:hover {
    color: $color-btn-festival;
    background-color: $background-color-btn-festival-hover;
}
.btn-inline {
    width: auto;
}
span.btn-subtitle{
    font-size : 80%;
}

.btn.disabled {
    opacity: 0.40;
}

/* RESPONSIVE */
@media screen and (min-width: 1200px){
    .container {
        width: 1200px;
    }
}

@media screen and (max-width: 767px ) {
    #festival_infos{ padding: 30px 0 10px 0;}
    .header-content{display: inline-block; background: none;width: 100%;}
    #logo{ padding: 10px 5px 0 5px;}
}

@media screen and (min-width: 768px ) {
    #festival_infos{ padding: 20px 0 10px 0; height: 130px;}
}

@media screen and (min-width: 992px) {
    #festival_infos{ padding: 30px 0 10px 0;}
}

@media screen and (min-width: 1200px) {
    #festival_infos{ padding: 20px 0 10px 0; height: 120px;}
}

/* BLOC DATES ET LIEU - AFFICHAGE CONDITIONNEL */
@media screen and (max-width: 1024px ) {
    img {margin-left: auto;
    margin-right: auto;
    display: block;
    }
}
@media screen and (max-width: 768px ) {
    img {margin-left: auto;
    margin-right: auto;
    display: block;
    }
}
@media screen and (max-width: 768px ) {
    .mod-festival img {width:100%;}
    .art-img img {width:100%;}
}
@media screen and (max-width: 992px ) {
    #main-content{margin-right:-15px;}
    #right-col {display: inline-block; background: $background-right-col; padding : 0 15px; margin:0 -15px;}
    .mod-festival {margin-top:10px;}
}
@media screen and (min-width:768px) and (max-width:992px){
    #mod-credits{margin-top: 30px;}
}

.mod-festival{
    margin-bottom : 20px;
}
.festival-spacer{height : 20px;display:inline-block}


@media screen and (min-width: 768px ) {
    .text-with-picto {
        padding-left: 100px;
    }

    .text-with-picto::before {
        content: '';
        margin-left: -95px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 70px;
        height: 100px;
        float: left;
    }
}

@media screen and (min-width: 768px ) {
    .text-with-picto-large {
        padding-left: 100px;
    }

    .text-with-picto-large::before {
        content: '';
        margin-left: -95px;
        background-repeat: no-repeat;
        background-size: contain;
        width: 80px;
        height: 100px;
        float: left;
    }
}

@media screen and (min-width: 992px ) {
    .text-with-picto-large {
        padding-left: 130px;
    }

    .text-with-picto-large::before {
        margin-left: -125px;
        width: 120px;
        height: 160px;
    }
}

.poster {
    margin-bottom: 30px;
}
.poster img {
    border: 1px solid $border-poster-color;
}

.art-img img {
    border: 1px solid $border-art-img-color;
}

.niveau-2 {
    margin-bottom: 15px;
}

.activity-participate .art-detail {
    padding-left: 0px;
    padding-bottom: 0px;
}

.activity-participate .art-detail .title {
    word-wrap: break-word;
}

.activity-link .activity-img {
    position: relative;
}

.activity-link .activity-type {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
}

.actuality-link .contents-xs, .actuality-link .contents-sm-md, .actuality-link .contents-lg {
    line-height: 10pt;
    padding-bottom: 0px;
}

.actuality-link .contents-sm-md, .actuality-link .contents-lg {
    height: 14px;
    width: 100%;
    overflow-y: hidden;
}

.item-link .item-title {
    line-height: 15pt;
    padding-bottom: 0px;
    overflow: hidden;
    width: 100%;
}

.activity-link .item-title {
    height: 42px;
}

.guest-link .item-title {
    height: 25px;
}

.location-for-next-page {
    padding-top: 50px;
    clear: both;
}

.activity-type-filters .active {
    font-weight: bold;
}

h2.large-art-title {
    color: $color-large-art-title;
    font-family: $font-family-large-art-title;
    font-size: 25pt;
    margin: 1px;
}

.resize-img-activity {
    width: 116px;
}

a.hyperlink-color {
    color: $color-hyperlink;
}

.exponent .descriptif-limited {
    word-wrap: break-word;
    height: 51px;
    overflow: hidden;
}