//Font
$font-family-nav: 'arial';
$font-family-art-title: 'arial';
$font-family-art-link: 'arial';
$font-family-mod-follow: 'arial';
$font-family-art-detail: 'arial';
$font-family-large-art-title: 'arial';

//Background-color
$background-color-navbar-default : #ffffff;
$background-color-nav : #ffffff;
$background-color-container: #ffffff;
$background-color-body: #000000;
$background-color-btn-festival: #00b1b6;
$background-color-btn-festival-hover: #a2d8da;

//Background
$background-body-tinymce: #ffffff;
$background-submenu: #000000;
$background-sousmenu: #000000;
$background-right-col: #dadada;

//Color
$color-btn-festival: #ffffff;
$color-nav: #000000;
$color-nav-li-a-hover: #ea1d2c;
$color-nav-caret: #a4a5a8;
$color-art-title: #d80c01;
$color-art-link: #000000;
$color-art-text: #d80c01;
$color-sousmenu: #84c6bc;
$color-menu: #d80c01;
$color-sousmenu-nav: #ffffff;
$color-art-detail: #000000;
$color-large-art-title: #d80c01;
$color-hyperlink: #333;
$color-submenu: #000000;

//Border color
$border-left-mod-follow-color: #e42e33;
$border-mod-partenaires-color: #c1c1c1;
$border-top-mod-credits-color: #000000;
$border-span-flag-color : silver;
$border-left-bl-rouge-color: #fe0003;
$border-right-br-rouge-color: #fe0003;
$border-bottom-bb-rouge-color: #fe0003;
$border-poster-color: grey;
$border-art-img-color: grey;

//Other
$submenu-active-marker-color: #000000;
$mmc-festival-image-path : '../images';
