{% if not object.current %}
    <a class="btn btn-sm btn-warning"  href="{{ admin.generateObjectUrl('currentEdition', object) }}">{{ 'current_edition_button'|trans({}, 'EditionManagement') }}</a>
{% endif %}