{% extends 'MMCCardBundle:Card:show.html.twig' %}

{% block show %}
     {{ parent() }}

    <a class="btn btn-warning" href="{{ admin.generateObjectUrl('duplicate_year', object) }}">
        <i class="fa fa-files-o" aria-hidden="true"></i> {{ 'action_duplicate_year'|trans({}, 'EditionManagement') ~ edition_provider.currentEdition.name }}
    </a>
{% endblock show %}