USERNAME={your_unix_local_username}
UNIX_UID={your_unix_local_uid}
# Can be '/bin/bash' or '/bin/zsh'
CONTAINER_SHELL=/bin/bash

MYSQL_DB=user-bundle-sample
MYSQL_ROOT_PASSWORD=mmc

DNSDOCK_NAME=user-bundle-sample
