USERNAME={your_unix_local_username}
UNIX_UID={your_unix_local_uid}
# Can be '/bin/bash' or '/bin/zsh'
CONTAINER_SHELL=/bin/bash

DNSDOCK_NAME=mmc-festival

MYSQL_DB=jtf2017_test
MYSQL_ROOT_PASSWORD=jtf2017

SSH_AUTH_SOCK=/tmp/agent.sock
