<div id="mod-credits" class="col-xs-12 col-sm-6 col-md-12 mod-festival"  >
    <div class="row">
        <div class="col-xs-4" ><img src="/bundles/mmcfestival/images/mon-logo.png" alt="Logo" width="79" height="90"></div>
        <div class="col-xs-8">
            <a href="{{ path('mmc_festival_legalNotice') }}">Mentions légales</a>
        </div>
    </div>
</div>