<div id="mod-partenaires" class="col-xs-12 col-sm-6 col-md-12"  >
    <div class="row">
        <h3>Nos partenaires</h3>
        {{ renderCarousel('partners', {
            'class': '',
            'interval': 2000,
            'showIndicators': false,
            'showControls': false,
            'imagine_filter': 'partner_logo'
        }) }}
    </div>
</div>
