{% extends "SonataAdminBundle:CRUD:base_list_field.html.twig" %}

{% block field %}
    {% for availability in value %}
        <li>{{ availability.day|trans({}, 'schedule') }} {{ availability.part|trans({}, 'schedule') }}</li>
    {% endfor %}
{% endblock %}